#exam{
color: rgb(148, 145, 145);
font-size: 16px;
}
.container #qstNumber{
color: rgb(148, 145, 145);    
}
.progress{
    margin-left: auto; 
    margin-right:auto;
}

.progress-bar{
 border-radius: 40px;
}
.question h4{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #001584;
}
.question{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container{
    display: flex;
    justify-content: center;
}

#exam{
    padding: 0 5%;
}

.qstNumber{
    color: rgb(148, 145, 145);
    padding: 0 30%;
}
.choix{
    padding: 0 30%;
}
.button .btn{
    color: #F2F2F2;
    background-color: #2e7197;
}
.button .btn:hover {
    background-color: white;
    color: #2e7197;
    border-color:  #2e7197; 
}

.reponse .text.correcte{
    color: green;
}

.reponse .text.incorrecte{
    color: red;
}

.reponse .text.disabled{
    pointer-events: none;
}
.qstNumber{
    color: #001584;
}
.total{
    color: #001584;
}
#exam{
    color: #2e7197;
}
.clock{
    width:30px;
}