.img{
    width: 15%;
}
.Congratulation{
    bottom: 20px;
    color: rgb(28, 119, 89);
}
span{
    color: rgb(28, 119, 89);
    font-size: 3rem;
    line-height: 2.5;
}

p{
    color: rgb(26, 25, 25);
    font-size: 1.4rem;
}
#btn{
    margin: 1.5rem; 
    width: 110px; 
    border-radius: 1.5rem;
    height: 50px;
    color: whitesmoke;
    background-color: #2e7197;
    border: none;
}